/* Elements present in pages where the user does PRODUCTS RESEARCHES */

/* CARDS template */
$product-image-max-height: 220px;

#product-list {
    @extend .w3-animate-zoom;
}

// card container
.vue-card-container{
    @extend .w3-white;
    @extend .w3-mobile;
    @extend .w3-left;

    img {
        // the product image is partially transparent by default
        @extend .w3-image;
        height: $product-image-max-height;

        @media (min-width: 601px) {
            opacity: 0.75;
        }
    }

    @media (min-width: 601px) {
        width: 50%;
    }

    @media (min-width: 901px) {
        width: 33.33%;
    }

    @media (min-width: 1151px) {
        width: 25%;
    }

    @media (min-width: 1501px) {
        width: 20%;
    }
}

// the product itself
.vue-card-product {
    @extend .w3-round-large;
    @extend .w3-card;
    @extend .w3-hover-teal;
    @extend .w3-margin;
    overflow: hidden;
    cursor: pointer;
}

.vue-card-product:hover img {
    // we want images to become fully visible when the mouse i over the container
    @extend .w3-opacity-off;
}

.title-box{
    @extend .w3-container;
    @extend .w3-mobile;
}

.vue-card-product-info {
    // image, price and other statistics
    @extend .w3-white;
    @extend .w3-clear;
    @extend .w3-cell-row;

    .vue-card-image-box{
        // image container
        @extend .w3-cell;
        min-width: 75%;
        max-width: 75%;
    }

    .vue-card-summary-box{
        @extend .w3-cell;
        @extend .w3-container;
        min-width: 25%;
        max-width: 25%;
    }
}

.vue-card-track {
    @extend .w3-white;
    @extend .w3-hover-blue;
    @extend .w3-button;
    @extend .w3-ripple;
    @extend .w3-block;
}


/* FILTERS sidebar */
$closed-sidebar-width: 44px;
$left-shift: 266px;

#filtersSidebar {
    @extend .w3-container;
    @extend .w3-pale-green;
    @extend .w3-card;
    display: block;
    left: -$left-shift;
    width: 294px;
    padding-right: $closed-sidebar-width;
    position: absolute;
    z-index: 901;

    transition-property: left;
    transition-duration: 1s;
    transition-timing-function: ease;

    #filtersSidebarButton {
        @extend .w3-button;
        @extend .w3-large;
        @extend .w3-hide-small;
        @extend .w3-teal;
        @extend .w3-card;
        left: $left-shift;
        position: absolute;
    }

    /*.filter-button {
        @extend .w3-button;
        @extend .w3-ripple;
        @extend .w3-block;
        @extend .w3-round;
        @extend .w3-section;
    }*/

    header {
        @extend .w3-center;
    }
}

.has-sidebar {
    margin-left: $closed-sidebar-width;
}