/* TEMPLATE elements, present in every page */

$user_icon_size: 34px;  /* this is the profile pic of logged users */

#navigation {
    @extend .w3-black;
    @extend .w3-bar;
    line-height: 38px !important;

    a {
        @extend .w3-bar-item;
        @extend .w3-button;
        @extend .w3-mobile;
        @extend .w3-hover-teal;
    }

    #user-button {
        @extend .w3-bar-item;
        @extend .w3-button;
        @extend .w3-mobile;
        @extend .w3-hover-teal;
        @extend .w3-dropdown-click;
        @extend .w3-right;
        padding: 0;

        #userDropdown {
            @extend .w3-dropdown-content;
            @extend .w3-bar-block;
            @extend .w3-card-4;
            min-width: 100%;

            a {
                @extend .w3-bar-item;
                @extend .w3-button;
                @extend .w3-border-bottom;
            }
        }
    }
    
}

#user_icon {
    @extend .w3-white;
    @extend .w3-circle;
    width: $user_icon_size;
    height: $user_icon_size;
    margin-right: 8px;
}

#page {
    @extend .w3-clear;
    position: relative;
    overflow: hidden;

    #page-title {
        @extend .w3-center;
        @extend .w3-xxlarge;
    }

    @media (min-width: 601px) {
        min-height: 650px;
    }
}

#overlay {
    @extend .w3-overlay;
    @extend .w3-animate-opacity;
    cursor: pointer;
    @media (max-width: 600px) {
        display: none !important;
        visibility: hidden !important;
    }
}

.w3-modal {
    z-index: 900;
}

footer {
    @extend .w3-padding;
    @extend .w3-black;
    @extend .w3-small;
}

header {
    text-align: center;
}

@media (min-width: 601px) {
    header {
        text-align: left;
    }
}

