/* TRACKING page specific elements */

// the left column of the page
#tracked-products {
  @extend .w3-col;
  width: 280px;

  // title
  p {
    @extend .w3-container;
    @extend .w3-large;

  }

  // product list
  #tracked-products-list {
    @extend .w3-panel;
    max-height: 1500px;
    overflow: auto;
    width: 100%
  }
}

// details, graphs and suggested products
#track-page {
  @extend .w3-container;
  @extend .w3-rest;

  // colored titles
  .banner {
    @extend .w3-container;
    @extend .w3-round;
  }

  // triangles: products images compared in a box
  #triangles-container {
    overflow: hidden;
    position: relative;
    width: 40em; height: 27em;
    background-color: grey;
    border: 5px outset grey;

    // only the main product image is displayed
    img {
      width: 100%;
    }

    // container of a product we want to compare to another
    .triangle {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      background-color: white;
      /* arctan(27 / 40) = 34.01935deg
       * need to skew by 90deg - 34.01935deg = 55.98065deg
      */
      transform: skewX(-55.98deg);
    }

    // the main product
    .triangle:first-child {
      left: -.25em;
      transform-origin: 100% 0;
    }

    // the compared product
    .triangle:last-child {
      right: -.25em;
      transform-origin: 0 100%;
    }

    // images inside the triangle
    .triangle img {
      width: 65% !important;
      height: 100%;
      transform: skewX(55.98deg);
      transform-origin: inherit;
    }
  }

  // suggested products
  #similar-products-slider {
    @extend .w3-light-grey;
    @extend .w3-container;
    position: relative;
    overflow: auto;
    width: 100%;

    // the list of products
    #similar-products-list {
      position: relative;
      overflow: auto;
      height: 412px;
    }
  }

}