/* CARDS template */
$card-max-width: 350px;
$card-max-height: 300px;

// card container
.vue-card-main-container{
    @extend .w3-cell-row;
    @extend .w3-margin;
    @extend .w3-left;
    @extend .w3-white;
    @extend .w3-hover-teal;
    @extend .w3-mobile;
    @extend .w3-card;
    @extend .w3-hover-opacity-off;
    @extend .w3-mobile;
    @extend .w3-round-large;
    cursor: pointer;

    max-width: $card-max-width;
    max-height: $card-max-height;

    img {
        // the product image is partially transparent by default
        @extend .w3-opacity-min;
        @extend .w3-image;
        height: 0.8*$card-max-height;
    }

    button {
        @extend .w3-button;
    }
}

.vue-card-main-container:hover img {
    // we want images to become fully visible when the mouse i over the container
    @extend .w3-opacity-off;
}

.vue-card-top-container {
    // image, price and other statistics
    @extend .w3-white;
    @extend .w3-hover-red;
    @extend .w3-clear;

    .vue-card-image-box{
        // image container
        @extend .w3-cell;
        min-width: 75%;
        max-width: 75%;
    }

    .vue-card-product-summary{
        @extend .w3-cell;
        @extend .w3-white;
        @extend .w3-hover-blue;
        @extend .w3-container;
        min-width: 25%;
        max-width: 25%;
    }
}

.title-box{
    @extend .w3-container;
}
