.vue-card-main-container{
    float:left;
    width: 350px;
    height: 300px;
}
.vue-card-top-container {
    height: 80%;
}

.vue-card-image-box{
    width: 68%;
    height: 100%;
    float: left;
}
.vue-card-product-summary{
    float: left;
    width: 28%;
    height: 100%;
}
.vue-card-bottom-bar{
    height: 20%;

}
.vue-card-product-image{
    position: relative;
    float: left;
    height: 95%;
    width: 95%;
}
.vue-card-title-box{
    margin: auto;
    text-align: left;
    font-size: 20px;
}
button.vue-card{
    border-style: solid;
    float: right;
    margin-right: 10px;

}