<!doctype html>
<html lang="en-US">
<head>
    <title>DiScout - My products</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- LIBRARIES-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/src/vue.js"></script>
    <script src="js/src/plotly-latest.min.js"></script>

    <!-- CSS code -->
    <link rel="stylesheet" href="css/main.min.css" />
    <link rel="stylesheet" href="css/foo.css" />

    <!-- NOTE: update the rest to be compliant -->
    <script src="js/scripts/UI_effects.js"></script>

    <!-- VUE: components in nesting orders -->
    <script src="Vue/card.js"></script>
    <script src="Vue/product-list.js"></script>
    <script src="Vue/header.js"></script>
    <script src="Vue/navBar.js"></script>
    <script src="Vue/vue-mytrack.js"></script>


    <!-- Website icon -->
    <link rel="icon" type="image/ico" href="img/favicon.ico" />
</head>

<body>
    <div id="vue-mytrack">
        <headertemplate></headertemplate>
        <navbar></navbar>

        <!-- MAIN CONTAINER -->
        <main class="w3-row">

            <!-- LIST OF TRACKED PRODUCTS -->
            <aside class="w3-col" style="width:15%;">
                <p class="w3-container w3-large">Your tracked products</p>
                <div id="tracked-products-list" class="w3-panel" style="max-height: 1500px; overflow: auto; width: 100%">
                    <div v-for="card in cards">
                        <card class="vue-card-tracked-product" draggable="true" ondragstart="drag(event, true)" v-if="categories[card.category]" :ref='"ref_prod" + card.id' :id="card.id" :name="card.name" :price_current="card.price_current" :img_source="card.img_source"></card>
                    </div>
                </div>
            </aside>

            <!-- GRAPHS, DETAILS, OTHER PRODUCTS -->
            <div id="main-page" class="w3-rest w3-panel">

                <!-- TRACKED PRODUCT DETAIL -->
                <!-- NOTE: style for debug purpose only -->
                <div ondrop="drop(event)" ondragover="allowDrop(event)">

                    <!-- DETAILS -->
                    <section class="w3-row">
                        <h2 class="w3-teal w3-container w3-round">{{ productFocusTitle }}</h2>
                        <p>{{ productFocusInfo }}</p>
                        <div class="w3-quarter">
                            <img style="height: 200px; width: 200px" :src="productFocusImageSrc">
                        </div>
                        <div class="w3-rest">
                            <!-- product table details -->
                            <table class="w3-table w3-bordered ">
                                <tr>
                                    <td>Price: </td><td> {{ productFocusPrice }}€ </td>
                                    <td class=>Lower Price: </td><td> {{ productFocusPriceLower }}€ </td>
                                </tr>
                                <tr :class="{ hidden: isNotVisible }">
                                    <td></td><td> {{ productComparePrice }}€ </td>
                                    <td></td><td> {{ productComparePriceLower }}€ </td>
                                </tr>

                                <tr>
                                    <td>Rating: </td><td> {{ productFocusRating }} </td>
                                    <td>Price Trend: </td><td> {{ productFocusPriceTrend }}% </td>
                                </tr>
                                <tr :class="{ hidden: isNotVisible }">
                                    <td> </td><td> {{ productCompareRating }} </td>
                                    <td> </td><td> {{ productComparePriceTrend }}% </td>
                                </tr>
                                <tr>
                                    <td>Vendor: </td><td> {{ productFocusVendor }} </td>
                                    <td>Category: </td><td> {{ productFocusCategory }} </td>
                                </tr>
                                <tr :class="{ hidden: isNotVisible }">
                                    <td></td><td> {{ productCompareVendor }} </td>
                                    <td></td><td> {{ productCompareCategory }} </td>
                                </tr>
                                <tr>
                                    <td> <a :href = "productFocusLink">Link</a></td>
                                    <td :class="{ hidden: isNotVisible }"> <a :href = "productCompareLink">Link</a></td>
                                </tr>
                            </table>
                        </div>

                    </section>


                    <!-- GRAPH -->
                    <section class="w3-section">
                        <h2 class="w3-blue w3-container w3-round">Price Trend</h2>
                        <div id="graph"></div>
                    </section>

                </div>

                <!-- SIMILAR PRODUCTS -->
                <div id="similar-products-list" class="w3-light-grey w3-container" style="position: relative; overflow: auto">
                    <button class="w3-button w3-circle w3-grey w3-hover-blue w3-xlarge w3-left" style="position: relative; top: 188px"><</button>
                    <button class="w3-button w3-circle w3-grey w3-hover-blue w3-xlarge w3-right" style="position: relative; top: 188px">></button>
                    <div v-for="card in shortList">
                        <card class="vue-card-container" draggable="true" ondragstart="drag(event, false)" v-if="categories[card.category]" :ref='"ref_prod" + card.id' :id="card.id" :name="card.name" :price_current="card.price_current" :img_source="card.img_source"></card>
                    </div>
                </div>
            </div>


        </main>


        <div class="w3-overlay w3-animate-opacity" onclick="closeSidebar('closed_sidebar', 'overlay')" id="overlay"></div>


        <footer class="w3-container w3-black w3-small w3-padding">
            This is the footer!
        </footer>
    </div>
</body>
</html>
