<!doctype html>
<html lang="en-US">
<head>
    <title>DiScout - Search results</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- LIBRARIES-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/src/vue.js"></script>
    <script src="js/src/plotly-latest.min.js"></script>

    <!-- CSS code -->
    <link rel="stylesheet" href="css/main.min.css" />
    <link rel="stylesheet" href="css/foo.css" />

    <!--
        Probably do not need this here
        <script src="js/scripts/myTrack.js"></script>
    --->
    <script src="js/scripts/UI_effects.js"></script>
    <script src="js/scripts/dynamicContents.js"></script>

    <!-- Website icon -->
    <link rel="icon" type="image/ico" href="img/favicon.ico" />

    <!-- VUE: components in nesting orders -->
    <script src="Vue/card.js"></script>
    <script src="Vue/product-list.js"></script>
    <script src="Vue/header.js"></script>
    <script src="Vue/navBar.js"></script>
    <script src="Vue/vue-main.js"></script>

</head>

<body>
    <div id="vue">
        <headertemplate></headertemplate>
        <navbar></navbar>

        <!-- FILTERS (mobile version) -->
        <div class="w3-hide-large w3-hide-medium w3-pale-green">
            <button id="filtersNavButton" class="w3-grey w3-hover-teal w3-mobile w3-button" onclick="showHideTarget('filtersNavbar'); addRemoveClass(this, 'w3-grey'), addRemoveClass(this, 'w3-teal')">
                <i class="fa fa-search-plus w3-xlarge"></i>
            </button>
            <div id="filtersNavbar" class="w3-hide w3-padding">
                <header>
                    <h2>FILTERS</h2>
                </header>
                <div class="filters">
                    <div v-for="filter in filters">
                        <p><label><input type="checkbox" :id="filter.id" checked @click="updateCategory($event)"> {{ filter.name }} </label></p>
                    </div>
                    <button class="w3-button w3-ripple w3-block w3-round w3-section w3-red w3-hover-red">Delete</button>
                    <button class="w3-button w3-ripple w3-block w3-round w3-section w3-teal w3-hover-teal">View all</button>
                </div>
            </div>
        </div>



        <!-- POPUP: modal content -->
        <div id="modal" class="w3-modal w3-hide">
            <div class="w3-modal-content">
                <span onclick="showHideTarget('modal')" class="w3-button w3-display-topright w3-teal w3-hover-red w3-large">&times;</span>
                <div id="zoomed-product">
                </div>
            </div>
        </div>

        <!-- OVERLAY -->
        <div id="overlay" onclick="openCloseSidebar('filtersSidebar', 'overlay')"></div>

        <!-- PAGE content -->
        <main id="page" class="has-sidebar">
            <!-- FILTERS (tablet version) -->
            <aside data-open="false" id="filtersSidebar" class="shifted-sidebar">
                <button id="filtersSidebarButton" onclick="openCloseSidebar('filtersSidebar', 'overlay')">
                    <i class="fa fa-search-plus w3-xlarge"></i>
                </button>
                <header>
                    <h2>FILTERS</h2>
                </header>
                <div class="filters">
                    <div v-for="filter in filters">
                        <p><label><input type="checkbox" :id="filter.id" checked @click="updateCategory($event)"> {{ filter.name }} </label></p>
                    </div>
                    <button class="w3-button w3-ripple w3-block w3-round w3-section w3-red w3-hover-red">Delete</button>
                    <button class="w3-button w3-ripple w3-block w3-round w3-section w3-teal w3-hover-teal">View all</button>
                </div>
            </aside>

            <h2 id="page-title">
                    Search results
            </h2>

            <!-- Search results-->
            <div id="product-list">
                <div v-for="card in cards">
                    <card v-if="showOrCat(card.category)" :ref='"ref_prod" + card.id' :id="card.id" :title="card.name" :price="card.price" :img_src="card.img_source"></card>
                </div>
            </div>
        </main>

        <!-- FOOTER -->
        <footer>
            This is the footer!
        </footer>
    </div>
</body>
</html>
