<!doctype html>
<html lang="en-US">
<head>
    <title>DiScout - Search results</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- LIBRARIES-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/src/vue.js"></script>
    <script src="js/src/plotly-latest.min.js"></script>

    <!-- CSS code -->
    <link rel="stylesheet" href="css/main.min.css" />
    <link rel="stylesheet" href="css/foo.css" />

    <!--
        Probably do not need this here
        <script src="js/scripts/myTrack.js"></script>
    --->
    <script src="js/scripts/UI_effects.js"></script>
    <script src="js/scripts/forms.js"></script>
    <script src="js/scripts/dynamicContents.js"></script>

    <!-- Website icon -->
    <link rel="icon" type="image/ico" href="img/favicon.ico" />

    <!-- VUE: components in nesting orders -->
    <script src="Vue/card.js"></script>
    <script src="Vue/product-list.js"></script>
    <script src="Vue/header.js"></script>
    <script src="Vue/navBar.js"></script>
    <script src="Vue/vue-main.js"></script>

</head>

<body>
    <div id="vue">
        <headertemplate></headertemplate>
        <button id="menu-button-mobile" onclick="showHideTargetMobile('navigation'); addRemoveClass(this, 'w3-black'), addRemoveClass(this, 'w3-teal')">
            <i class="fa fa-bars"></i>
        </button>
        <navbar></navbar>

        <!-- FILTERS (mobile version) -->
        <div class="w3-hide-large w3-hide-medium w3-pale-green">
            <button id="filtersNavButton" class="w3-grey w3-hover-teal w3-mobile w3-button" onclick="showHideTarget('filtersNavbar'); addRemoveClass(this, 'w3-grey'), addRemoveClass(this, 'w3-teal')">
                <i class="fa fa-search-plus w3-xlarge"></i>
            </button>
            <div id="filtersNavbar" class="w3-hide w3-padding">
                <header>
                    <h2>FILTERS</h2>
                </header>
                <section class="filter">
                    <span @click="filters.dispCat=!filters.dispCat">
                        <i class="fa" v-bind:class="{'fa-caret-right': !filters.dispCat, 'fa-caret-down': filters.dispCat}"></i> Categories
                    </span>
                    <div class="filter-options" v-if="filters.dispCat">
                        <label :id="filter.id" v-for="filter in filters.categories" v-bind:class="{'w3-text-blue': categories[filter.id], 'w3-text-blue-grey': !categories[filter.id]}">
                            <input type="checkbox" v-model="categories[filter.id]" @change="updateCategory($event)" class="w3-check"/>
                            {{ filter.name }}
                        </label>
                    </div>
                </section>
                <section class="filter">
                    Minimum rating<br>
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="rating" value="5" />           <label class="full" for="star5" title="5 stars"></label>
                        <input type="radio" id="star4half" name="rating" value="4.5" />     <label class="half" for="star4half" title="4.5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4" />           <label class="full" for="star4" title="4 stars"></label>
                        <input type="radio" id="star3half" name="rating" value="3.5" />     <label class="half" for="star3half" title="3.5 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3" />           <label class="full" for="star3" title="3 stars"></label>
                        <input type="radio" id="star2half" name="rating" value="2.5" />     <label class="half" for="star2half" title="2.5 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2" />           <label class="full" for="star2" title="2 stars"></label>
                        <input type="radio" id="star1half" name="rating" value="1.5" />     <label class="half" for="star1half" title="1.5 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1" />           <label class="full" for="star1" title="1 star"></label>
                        <input type="radio" id="starhalf" name="rating" value="0.5" />      <label class="half" for="starhalf" title="0.5 stars"></label>
                    </fieldset>
                </section>
                <section class="filter-buttons">
                    <button class="w3-button w3-red w3-hover-red" onclick="uncheckAll()">Delete</button>
                    <button class="w3-button w3-teal w3-hover-teal" onclick="checkAll()">View all</button>
                </section>
            </div>
        </div>


        <!-- POPUP: modal content -->
        <div id="modal" class="w3-modal w3-hide">
            <div class="w3-modal-content">
                <span onclick="showHideTarget('modal')" class="w3-button w3-display-topright w3-teal w3-hover-red w3-large">&times;</span>
                <div id="zoomed-product">
                </div>
            </div>
        </div>

        <!-- OVERLAY -->
        <div id="overlay" onclick="openCloseSidebar('filtersSidebar', 'overlay')"></div>

        <!-- PAGE content -->
        <main id="page" class="has-sidebar w3-light-grey">
            <!-- FILTERS (tablet version) -->
            <aside data-open="false" id="filtersSidebar" class="shifted-sidebar">
                <button id="filtersSidebarButton" onclick="openCloseSidebar('filtersSidebar', 'overlay')">
                    <i class="fa fa-search-plus w3-xlarge"></i>
                </button>
                <header>
                    <h2>FILTERS</h2>
                </header>
                <section class="filter">
                    <span @click="filters.dispCat=!filters.dispCat">
                        <i class="fa" v-bind:class="{'fa-caret-right': !filters.dispCat, 'fa-caret-down': filters.dispCat}"></i> Categories
                    </span>
                    <div class="filter-options" v-if="filters.dispCat">
                        <label :id="filter.id" v-for="filter in filters.categories" v-bind:class="{'w3-text-blue': categories[filter.id], 'w3-text-blue-grey': !categories[filter.id]}">
                            <input type="checkbox" v-model="categories[filter.id]" @change="updateCategory($event)" class="w3-check"/>
                            {{ filter.name }}
                        </label>
                    </div>
                </section>
                <section class="filter">
                    Minimum rating
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="rating" value="5" />           <label class="full" for="star5" title="5 stars"></label>
                        <input type="radio" id="star4half" name="rating" value="4.5" />     <label class="half" for="star4half" title="4.5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4" />           <label class="full" for="star4" title="4 stars"></label>
                        <input type="radio" id="star3half" name="rating" value="3.5" />     <label class="half" for="star3half" title="3.5 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3" />           <label class="full" for="star3" title="3 stars"></label>
                        <input type="radio" id="star2half" name="rating" value="2.5" />     <label class="half" for="star2half" title="2.5 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2" />           <label class="full" for="star2" title="2 stars"></label>
                        <input type="radio" id="star1half" name="rating" value="1.5" />     <label class="half" for="star1half" title="1.5 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1" />           <label class="full" for="star1" title="1 star"></label>
                        <input type="radio" id="starhalf" name="rating" value="0.5" />      <label class="half" for="starhalf" title="0.5 stars"></label>
                    </fieldset>
                </section>
                <section class="filter-buttons">
                    <button class="w3-button w3-red w3-hover-red" onclick="uncheckAll()">Delete</button>
                    <button class="w3-button w3-teal w3-hover-teal" onclick="checkAll()">View all</button>
                </section>
            </aside>

            <h2 id="page-title">
                    Search results
            </h2>

            <!-- Search results-->
            <div id="product-list">
                <card v-for="card in cards" class="vue-card-container" v-if="showOrCat(card.category)" :ref='"ref_prod" + card.id' :id="card.id" :title="card.name" :price="card.price" :img_src="card.img_source" :onclick="'productPreview(this.parentNode.parentNode, \'modal\');'"></card>
            </div>
        </main>

        <!-- FOOTER -->
        <footer>
            This is the footer!
        </footer>
    </div>
</body>
</html>
