/* FILTERS */

// This is a filter type (category, price, rating...)
.filter {
  @extend .w3-large;
  @extend .w3-section;
  @extend .w3-clear;
}

// This is a specific option for the filter (ex: category = toy)
.filter-options {
  @extend .w3-medium;
  padding-left: 16px;

  label {
    display: block;
  }
}

// These are the green and red buttons at the bottom
.filter-buttons {
  button {
    @extend .w3-ripple;
    @extend .w3-block;
    @extend .w3-round;
    @extend .w3-section;
  }
}

/* 5 STARS RATING FILTER */
// This is tha main container
.rating {
  border: none;
  float: left;
  padding: 0;
}

// Radio inputs are hidden
.rating > input {
  display: none;
}

// While labels are stars (left/right half part)
.rating > label {
  color: #ddd;
  float: right;
}

.rating > label:before {
  @extend .w3-xlarge;
  font-family: FontAwesome;
  display: inline-block;
  margin-right: 6px;
  content: "\f005";  // full star
}

.rating > label.half:before {
  content: "\f089";  // the full-star is overridden with an half star, in case of "half" class
  position: absolute;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700; /* hover previous stars in list */
}

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}
